# Java / Maven
target/
*.class
*.jar

# Node / React
node_modules/
build/
.env

# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
application-local.properties
